<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>board.html</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>
<body style="margin : 20px">
<div style="width : 95%; text-align : center;">
   <h3>** 커뮤니티 **</h3>
</div>

<a href="/board/insert">글쓰기</a>
<table style="width:95%" class="table">
   <tr>
      <th>번호</th><th>제 목</th><th>작성자</th><th>작성일</th><th>조회수</th>
   </tr>
   {% if datas %}
   {% for d in datas %}
   <tr>
      <td>{{d.id}}</td>
      <td><a href="/board/content?id={{d.id}}&page={{datas.number}}">{{d.title}}</a></td>
      <td>{{d.name}}</td>
      <td>{{d.bdate.year}}.{{d.bdate.month}}.{{d.bdate.day}}</td>
      <td>{{d.readcnt}}</td>
   </tr>
   {% endfor %}
   <!-- 페이징 처리 -->
   <tr>
       <td colspan="5" style="text-align:center;">
         {% if datas.paginator.num_pages > 1 %}
         <div>
            {% if datas.has_previous %}
            <a href="/board/list?page={{datas.previous_page_number}}">&laquo;이전</a>
            {% endif %}
            {% if datas.has_next %}
            <a href="/board/list?page={{datas.next_page_number}}">다음&raquo;</a>
            {% endif %}
            &nbsp;&nbsp;
            (페이지 : {{datas.number}} / {{datas.paginator.num_pages}})
          </div>
          {% endif %}
        </td>
     {% else %}
     </tr>
     <tr>
        <td colspan="5">등록된 글이 없습니다.</td>
     </tr>
     {% endif %}
     
   <tr>
      <td colspan="5" style="text-align: center;">
      <form action="/board/search" method="post">{%csrf_token%}
         <select name="s_type">
            <option value="title" selected>글제목</option>
            <option value="name">작성자</option>
         </select>
         <input type="text" name="s_value">
         <input type="submit" value="검색">
      </form>
      </td>
   </tr>
</table>
</body>
</html>