<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상세보기</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>

<body style="margin: 20px">
<h2>* {{data_one.id}} 번 게시글 상세 보기 *</h2>
<table class="table">
	<tr style="width: 95%">
		<td style="width: 95%; text-align: right">
			<a href="/board/update?id={{data_one.id}}">수정</a>
			<a href="/board/delete?id={{data_one.id}}">삭제</a>
			<a href="/board/list?page={{page}}">목록</a>
		</td>
</table>
<table class="table">
	<tr style="width: 95%; background-color: lightgray;">
		<td>
			작성자 : <a href="mailto:{{data_one.mail}}">{{data_one.name}}</a>	
			(ip : {{data_one.bip}})
		</td>
		<td>작성일
	</tr>
</table>

</body>
</html>








