<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>update.html</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
   rel="stylesheet" crossorigin="anonymous">
<script type="text/javascript">
window.onload = function(){
	document.getElementById("btnUpdate").onclick = function(){
		if(upfrm.name.value === ""){
			alert("작성자를 입력하시오");
			upfrm.name.focus();
			return;
		}
		
		if(upfrm.up_passwd.value === ""){
			alert("비밀번호를 입력하시오");
			upfrm.name.focus();
			return;
		}
		
		// ...
		
		upfrm.submit();
		
	}
}
</script>
</head>
<body style="margin: 20px">
** 새글 입력 **
<form action="/board/updateok" name="upfrm" method="post">{% csrf_token %}
<input type="hidden" name="id" value="{{data_one.id}}"/>

<table style="width: 95%" class="table">
  <tr>
     <td>작성자 : </td>
     <td><input type="text" name="name" value="{{data_one.name}}"></td>
  </tr>
  <tr>
     <td>비밀번호 확인 : </td>
     <td><input type="text" name="up_passwd">
        <span style="color:red">{{msg}}</span>
     </td>
  </tr>
  <tr>
     <td>이메일 : </td>
     <td><input type="email" name="mail" value="{{data_one.mail}}"></td>
  </tr>
  <tr>
     <td>글제목 : </td>
     <td><input type="text" name="title" style="width: 99%" value="{{data_one.title}}"></td>
  </tr>
  <tr>
     <td>글내용 : </td>
     <td>
        <textarea rows="5" style="width: 99%" name="cont">{{data_one.cont}}</textarea>
     </td>
  </tr>
  <tr>
     <td colspan="2" style="text-align: center;">
        <input type="button" value="등록" id="btnOk" class="btn btn-primary">
        <input type="button" value="이전" class="btn btn-warning" onclick="history.back()">
     </td>
  </tr>

</body>
</html>