<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bcourse</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        ul{
            list-style : none; padding-left : 0px;
        }
    </style>
</head>
<body>
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
     <div class="container">
        <!-- <p style="border-left: 10px solid #153d73; padding: solid #153d73; font-size: 35px; font-weight: bolder" >문의사항 게시판</p> -->
        <div class="border-start border-5 border-primary my-4 ps-3">
            봄이 다 가기전, 떠나보자  
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill text-primary" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
            </svg>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191225171918703_thumbL" class="card-img-top" alt="...">
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">영화보다 더 영화 같은 여행, 부산</h5>
                    <br><br><br>
                    <p class="card-text">지역 : 부산 남구 <br>코스 총거리 : 18.69km</p>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <ul class="card-text">
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            이기대 (부산 국가지질공원)
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            오륙도 스카이워크
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            부산 영화의 전당
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            신세계 센텀시티
                        </li>
                  </ul>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20200717114921294_thumbL" class="card-img-top" alt="...">
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">부산의 자연생태 체험 코스</h5>
                    <br><br><br>
                    <p class="card-text">지역 : 부산 사상구 <br>코스 총거리 : 28.68km</p>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <ul class="card-text">
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            삼락생태공원
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            부산 암남공원
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            영도 등대
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            국립해양박물관
                        </li>
                  </ul>
                  <!-- <p class="card-text">This is a short card.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191229142305006_thumbL" class="card-img-top" alt="...">
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">지하철 타고 돌아보는 부산 시간여행</h5>
                    <br><br><br>
                    <p class="card-text">지역 : 부산 동래구 <br>코스 총거리 : 39.39km</p>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <ul class="card-text">
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            금강공원
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            금정산성
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            용두산공원
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            자갈치시장 활어부
                        </li>
                  </ul>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                </div>
              </div>
            </div>
          </div>
          <hr>
        <div class="border-start border-5 border-primary my-4 ps-3">
            오감만족 육월의 여행지  
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-wink-fill text-primary" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM7 6.5C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zM4.285 9.567a.5.5 0 0 0-.183.683A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75.5.5 0 0 0-.683-.183zm5.152-3.31a.5.5 0 0 0-.874.486c.33.595.958 1.007 1.687 1.007.73 0 1.356-.412 1.687-1.007a.5.5 0 0 0-.874-.486.934.934 0 0 1-.813.493.934.934 0 0 1-.813-.493z"/>
            </svg>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191230175635911_thumbL" class="card-img-top" alt="...">
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">2박 3일에 완성하는 부산 완전정복</h5>
                    <br><br><br>
                    <p class="card-text">지역 : 부산 금정구 <br>코스 총거리 : 68.69km</p>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <ul class="card-text">
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            범어사
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            동래읍성
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            복천박물관/복천동고분군
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            죽성성당
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            해동용궁사
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            송정해수욕장/죽도공원
                        </li>
                  </ul>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20200101154406282_thumbL" class="card-img-top" alt="...">
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">방탄소년단(BTS) 정국의 고향, 부산 만덕동 산책하기</h5>
                    <br><br><br>
                    <p class="card-text">지역 : 부산 만덕동 <br>코스 총거리 : 15.68km</p>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <ul class="card-text">
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            백양초등학교
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            백양중학교
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            만덕레고마을
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            만덕오리민속마을
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            석불사
                        </li>
                  </ul>
                  <!-- <p class="card-text">This is a short card.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191125133252609_thumbL" class="card-img-top" alt="...">
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">이야기로 피어난 어제의 기억 초량이바구길</h5>
                    <br><br><br>
                    <p class="card-text">지역 : 부산 이바구길 <br>코스 총거리 : 27.80km</p>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <ul class="card-text">
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            옛백제병원
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            남선창고터
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            초량교회
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            168계단
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            김민부 전망대
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            이바구공작소
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            장기려더나눔센터
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            유치환우체통 전망대
                        </li>
                  </ul>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191227202219554_thumbL" class="card-img-top" alt="...">
                  <div class="card-img-overlay text-white">
                      <h5 class="card-title">‘쌈마이 감성’ 가득한 호랑이마을 호천마을</h5>
                      <br><br><br>
                      <p class="card-text">지역 : 부산 호천마을 <br>코스 총거리 : 12.55km</p>
                  </div>
                  <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <ul class="card-text">
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              호천마을
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              산복도로
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              호랑이 벽화거리
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              남일바 촬영주택
                          </li>
                          <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            호천생활문화센터
                        </li>
                        <li class="my-2">
                            <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                            180계단
                        </li>
                    </ul>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191226151124965_thumbL" class="card-img-top" alt="...">
                  <div class="card-img-overlay text-white">
                      <h5 class="card-title">부산 유채꽃명소 추천, 노란 꽃들의 절정</h5>
                      <br><br><br>
                      <p class="card-text">지역 : 부산 낙동강 <br>코스 총거리 : 41.07km</p>
                  </div>
                  <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <ul class="card-text">
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              대저생태공원
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              삼락생태공원
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              온천천 시민공원
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              오륙도
                          </li>
                    </ul>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20191222181829937_thumbL" class="card-img-top" alt="...">
                  <div class="card-img-overlay text-white">
                      <h5 class="card-title">기장바다의 색다른 풍경 죽성성당</h5>
                      <br><br><br>
                      <p class="card-text">지역 : 부산 기장군 <br>코스 총거리 : 20.60km</p>
                  </div>
                  <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <ul class="card-text">
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              죽성성당
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              액자포토존
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              해송
                          </li>
                          <li class="my-2">
                              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                              국수당
                          </li>
                    </ul>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                  </div>
                </div>
              </div>
          </div>
          
     </div>

     <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="">Prev</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="">1</a>
            </li>
            <li>
                <a class="page-link" href="">2</a>
            </li>
            <li class="page-item">
                <a href="/bfavorites" class="page-link" href="">Next</a>
            </li>
          </ul>
    </nav> 

</body>
</html>